*{
  margin: 0;
}

header{
  background-color: blueviolet;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.header__content_center{
  max-width: 920px;
  margin: 0 auto;
}

.list{
  display: flex;
  flex-wrap: wrap;

  max-width: 920px;
  margin: 0 auto;
}

.book{
  background-color: gainsboro;
  height: 430px;
  width: 260px;
  margin: 0 20px 20px 20px;
}

.book__cover{
  max-width: 200px;
  max-height: 270px;
  display: block;
  padding: 20px;
  margin: 0 auto;  
}

.book__info{
  padding: 0px 30px;
}