*{
  margin: 0;
}

header{
  background-color: blueviolet;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.book{
  background-color: gainsboro;
  height: 430px;
  width: 260px;
}

.book__cover{
  max-width: 200px;
  max-height: 270px;
  display: block;
  padding: 20px;
  margin: 0 auto;  
}

.book__info{
  padding: 0px 30px;
}